.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;

  color: white;
}

/* 상단 영역 (ApiInputTitle) */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.5rem;       /* 고정 높이 */
  padding: 0 1rem;
  flex-shrink: 0;       /* 줄어들지 않게 */
  border-bottom: 1px solid rgba(255,255,255,0.1); /* 얇은 라인 */
  -webkit-app-region: drag;
}

/* 중앙 컨테이너 */
.Container {
  flex: 1; /* 남은 공간 전부 차지 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 위쪽부터 정렬 */
  padding-top: 6vh;  /* 버튼과의 여백 */
  text-align: center;
}

/* 로고 */
.logo {
  font-weight: 900;
  color: #f37321;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* 폼 래퍼 */
.formWrapper {
  width: 20rem;
  max-width: 90%;
}

/* 폼 */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* 인풋 */
.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ea580c;
  outline: none;
  color: white;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
}

.input:focus {
  border-bottom-color: #f97316;
}

/* 버튼 */
.button {
  width: 100%;
  padding: 0.75rem 0;
  background-color: #9a3412;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #b45309;
}

.windowControls{
  display: flex;
  gap: 10px;
}

.footer {
  text-align: right;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #9ca3af; /* gray-400 */
}



