html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* 모든 요소가 html의 box-sizing을 따르도록 함 */
}


body {
  background-color: #27272a; 
}

body, #root {
  margin: 0;
  padding: 0;
}